In [4]:
import sqlite3
con = sqlite3.connect('movies.db')
cur = con.cursor()
cur.execute('CREATE TABLE movies(year,title, genre)')
# Creating a variable of all the movies

movies = [(2009, 'Brothers', 'Drama'),
 (2002, 'Spider-Man', 'Sci-fi'),
 (2009, 'WatchMen', 'Drama'),
 (2010, 'Inception', 'Sci-fi'),
 (2009, 'Avatar', 'Fantasy')]
cur .executemany('''INSERT INTO movies VALUES(?, ?, ?);''', movies)
# commit and close
con.commit()
con.close()

OperationalError: table movies1 already exists

In [8]:
con = sqlite3.connect('movies1.db')
cur = con.cursor()
row = cur.fetchall()
for row in cur.execute('SELECT * FROM Movies1;'):
    print(row)

In [10]:
con = sqlite3.connect('movies.db')
cur = con.cursor()
row = cur.fetchall()
for row in cur.execute('SELECT * FROM Movies WHERE '
 'title ="Brothers";'):
    print(row)

In [11]:
con = sqlite3.connect('movies.db')
cur = con.cursor()
row = cur.fetchall()
for row in cur.execute('SELECT * FROM Movies WHERE '
 'year = 2009'):
    print(row)

In [12]:
con = sqlite3.connect('movies.db')
cur = con.cursor()
row = cur.fetchall()
for row in cur.execute('SELECT * FROM Movies WHERE '
 'genre = "Fantasy" OR genre = "Drama";'):
    print(row)

In [13]:
con = sqlite3.connect('movies.db')
cur = con.cursor()
cur.execute('DELETE FROM movies;')
con.commit()